<style type="text/css">
	html, body { height: 100%; }
	#map { height: 100%; width: 100%; }
</style>

<div id="map"></div>

<script type="text/javascript">
var rocks = {
  x: [<%= @rocks.map(&:x).join(', ') %>],
  y: [<%= @rocks.map(&:y).join(', ') %>],
  mode: 'markers',
  type: 'scatter',
  name: 'Rock (<%= @rocks.count %>)',
  text: [<%= @rocks.map { |s| "'L#{s.level} (#{s.player.name}), #{s.health} HP, age #{s.age}'" }.join(', ').html_safe %>],
  marker: { size: 8 }
};

var papers = {
  x: [<%= @papers.map(&:x).join(', ') %>],
  y: [<%= @papers.map(&:y).join(', ') %>],
  mode: 'markers',
  name: 'Paper (<%= @papers.count %>)',
  type: 'scatter',
  text: [<%= @papers.map { |s| "'L#{s.level} (#{s.player.name}), #{s.health} HP, age #{s.age}'" }.join(', ').html_safe %>],
  marker: { size: 8 }
};

var scissors = {
  x: [<%= @scissors.map(&:x).join(', ') %>],
  y: [<%= @scissors.map(&:y).join(', ') %>],
  mode: 'markers',
  name: 'Scissors (<%= @scissors.count %>)',
  type: 'scatter',
  text: [<%= @scissors.map { |s| "'L#{s.level} (#{s.player.name}), #{s.health} HP, age #{s.age}'" }.join(', ').html_safe %>],
  marker: { size: 8 }
};

var giants = {
  x: [<%= @giants.map(&:x).join(', ') %>],
  y: [<%= @giants.map(&:y).join(', ') %>],
  mode: 'markers',
  name: 'Giants (<%= @giants.count %>)',
  type: 'scatter',
  text: [<%= @giants.map { |s| "'L#{s.level} (#{s.player.name}), #{s.health} HP, age #{s.age}'" }.join(', ').html_safe %>],
  marker: { size: 8 }
};

var data = [rocks, papers, scissors, giants];

var layout = {
  xaxis: {
    title: 'X coordinate'
  },
  yaxis: {
    title: 'Y coordinate'
  },
  margin: {
    t: 20
  },
  hovermode: 'closest'
};

Plotly.newPlot('map', data, layout);
</script>